html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#score {
  position:absolute;
  top:30px;
  right:30px;
  color:white;
  font-size: 30px;
}

#level {
  position:absolute;
  color:gray;
  font-size: 25px;
  right: 30px;
}

.title {
  color:lightgray;
  font-size: 20px;
}