﻿@page
<div id="container">
    <div class="modal hide fade" id="myModal" role="dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Добро пожаловать, игрок!</h4>
                </div>
                <div class="modal-body">
                <form>
                    <div class="form-group">
                    <label for="usr">Как тебя зовут?</label>
                    <input type="text" class="form-control" id="userName">
                    </div>
                </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnUserNameAdded" class="btn btn-primary" data-bs-dismiss="modal">Ок</button>
                </div>
            </div>      
        </div>
    </div>
    <div id="background">
        <div id="score"></div>
        <div id="level"></div>
    </div>
</div>
@section scripts {
    <script src="~/js/game.js" asp-append-version="true"></script>
}